adf-subsidio-etl-griz/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-subsidio-etl-griz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_despachos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_as_despachos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_despachos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          despacho_id as string,",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as string,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_despacho as string,",
						"          cantidad_despachada as string,",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(despacho_id = toInteger(despacho_id),",
						"          fecha_despacho = iif(instr(fecha_despacho, '/') > 0, toDate(fecha_despacho, 'dd/MM/yyyy'), iif(instr(fecha_despacho, '-') == 3, toDate(fecha_despacho, 'dd-MM-yyyy'), toDate(fecha_despacho, 'yyyy-MM-dd'))),",
						"          cantidad_despachada = toInteger(cantidad_despachada),",
						"          centro_destino = iif(replace(lower(centro_destino), ' ', '') == 'centroodistri', 'Centro Distribución', initCap(trim(centro_destino))),",
						"          estado = iif(rlike(estado, '(?i)tr.*nsito'), 'En Tránsito', iif(rlike(estado, '(?i)deespachado'), 'Despachado', initCap(trim(estado)))),",
						"          responsable = initCap(regexReplace(trim(responsable), '\\\\s+', ' '))) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(despacho_id),",
						"     fecha_despacho = first(fecha_despacho),",
						"          cantidad_despachada = first(cantidad_despachada),",
						"          centro_destino = first(centro_destino),",
						"          estado = first(estado),",
						"          responsable = first(responsable),",
						"          nro_lote = first(nro_lote)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          despacho_id as integer,",
						"          recepcion_id as integer,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          transportista_id as integer,",
						"          vehiculo_id as integer,",
						"          fecha_despacho as date,",
						"          cantidad_despachada as decimal(18,2),",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          despacho_id,",
						"          nro_lote,",
						"          fecha_despacho,",
						"          cantidad_despachada,",
						"          centro_destino,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_entregas",
								"type": "DatasetReference"
							},
							"name": "GuardarEnSilverEntregas"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as string,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(entrega_id = toInteger(entrega_id),",
						"          boleta_id = toInteger(boleta_id),",
						"          ci_beneficiaria = upper(iif(rlike(regexReplace(ci_beneficiaria, '[-_ ]', ''), '^[A-Za-z]{2}\\\\d+'), concat(substring(regexReplace(ci_beneficiaria, '[-_ ]', ''), 3, length(regexReplace(ci_beneficiaria, '[-_ ]', ''))-2), '-', substring(regexReplace(ci_beneficiaria, '[-_ ]', ''), 1, 2)), iif(rlike(regexReplace(ci_beneficiaria, '[-_ ]', ''), '\\\\d+[A-Za-z]{2}$'), concat(substring(regexReplace(ci_beneficiaria, '[-_ ]', ''), 1, length(regexReplace(ci_beneficiaria, '[-_ ]', ''))-2), '-', right(regexReplace(ci_beneficiaria, '[-_ ]', ''), 2)), regexReplace(ci_beneficiaria, '[-_ ]', '')))),",
						"          establecimiento_id = toInteger(establecimiento_id),",
						"          paquete_id = toInteger(paquete_id),",
						"          paquete_nombre = initCap(trim(paquete_nombre)),",
						"          fecha_entrega = iif(!isNull(toDate(fecha_entrega, 'yyyy-MM-dd')), toDate(fecha_entrega, 'yyyy-MM-dd'), iif(!isNull(toDate(fecha_entrega, 'dd-MM-yyyy')), toDate(fecha_entrega, 'dd-MM-yyyy'), iif(!isNull(toDate(fecha_entrega, 'dd/MM/yyyy')), toDate(fecha_entrega, 'dd/MM/yyyy'), toDate(fecha_entrega, 'MM/dd/yyyy')))),",
						"          lote_produccion = iif(isNull(lote_produccion) || trim(lote_produccion) == '', 'Sin Lote', upper(trim(lote_produccion))),",
						"          peso_paquete_kg = iif(isNull(peso_paquete_kg) || trim(peso_paquete_kg) == '', toDecimal(0.0, 10, 2), toDecimal(peso_paquete_kg, 10, 2)),",
						"          fecha_proxima_entrega = iif(isNull(fecha_proxima_entrega) || trim(fecha_proxima_entrega) == '', toDate(null()), iif(!isNull(toDate(fecha_proxima_entrega, 'yyyy-MM-dd')), toDate(fecha_proxima_entrega, 'yyyy-MM-dd'), iif(!isNull(toDate(fecha_proxima_entrega, 'dd-MM-yyyy')), toDate(fecha_proxima_entrega, 'dd-MM-yyyy'), iif(!isNull(toDate(fecha_proxima_entrega, 'dd/MM/yyyy')), toDate(fecha_proxima_entrega, 'dd/MM/yyyy'), toDate(fecha_proxima_entrega, 'MM/dd/yyyy')))))) ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(entrega_id),",
						"     boleta_id = first(boleta_id),",
						"          ci_beneficiaria = first(ci_beneficiaria),",
						"          establecimiento_id = first(establecimiento_id),",
						"          paquete_id = first(paquete_id),",
						"          paquete_nombre = first(paquete_nombre),",
						"          fecha_entrega = first(fecha_entrega),",
						"          lote_produccion = first(lote_produccion),",
						"          peso_paquete_kg = first(peso_paquete_kg),",
						"          fecha_proxima_entrega = first(fecha_proxima_entrega)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as decimal(10,2),",
						"          fecha_proxima_entrega as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE silver.as_entregas;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          paquete_nombre,",
						"          fecha_entrega,",
						"          lote_produccion,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega",
						"     )) ~> GuardarEnSilverEntregas"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_sup_establecimientos2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_establecimientos2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(establecimiento_id = toInteger(toString(establecimiento_id)),",
						"          codigo_snis = trim(codigo_snis),",
						"          nombre = trim(nombre),",
						"          tipo = trim(tipo),",
						"          nivel_atencion = trim(nivel_atencion),",
						"          municipio = trim(municipio),",
						"          departamento = trim(departamento),",
						"          red_salud = trim(red_salud),",
						"          estado = trim(estado),",
						"          fecha_procesamiento = currentTimestamp()) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_procesamiento as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          codigo_snis,",
						"          nombre,",
						"          tipo,",
						"          nivel_atencion,",
						"          municipio,",
						"          departamento,",
						"          red_salud,",
						"          estado,",
						"          fecha_procesamiento",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          fecha_inscripcion as string,",
						"          semana_gestacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(inscripcion_id = toInteger(inscripcion_id),",
						"          establecimiento_id = toInteger(establecimiento_id),",
						"          semana_gestacion = toInteger(semana_gestacion),",
						"          fecha_inscripcion = iif(     instr(toString(fecha_inscripcion), '-') > 0,     toDate(toString(fecha_inscripcion), 'yyyy-MM-dd'),     iif(         toInteger(left(toString(fecha_inscripcion),2)) > 12,         toDate(toString(fecha_inscripcion), 'dd/MM/yyyy'),         toDate(toString(fecha_inscripcion), 'MM/dd/yyyy')     ) ),",
						"          estado = trim(estado)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          fecha_inscripcion,",
						"          semana_gestacion,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_paquetes')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_sup_catalogo_paquetes2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_catalogo_paquetes2",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(paquete_id = toInteger(toString(paquete_id)),",
						"          nombre = trim(nombre),",
						"          contenido = trim(contenido),",
						"          peso_estandar_kg = toDecimal(toString(peso_estandar_kg), 10, 2),",
						"          costo_estimado_bs = toDecimal(toString(costo_estimado_bs), 10, 2),",
						"          fecha_procesamiento = currentTimestamp()) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2),",
						"          fecha_procesamiento as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_segip')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_segip",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_segip",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(ci = upper(iif(rlike(regexReplace(ci, '[-_]', ''), '^[A-Za-z]{2}\\\\d+'), concat(substring(regexReplace(ci, '[-_]', ''), 3, length(regexReplace(ci, '[-_]', ''))-2), '-', substring(regexReplace(ci, '[-_]', ''), 1, 2)), iif(rlike(regexReplace(ci, '[-_]', ''), '\\\\d+[A-Za-z]{2}$'), concat(substring(regexReplace(ci, '[-_]', ''), 1, length(regexReplace(ci, '[-_]', ''))-2), '-', right(regexReplace(ci, '[-_]', ''), 2)), regexReplace(ci, '[-_]', '')))),",
						"          nombres = initCap(trim(toString(nombres))),",
						"          apellido_paterno = iif(isNull(apellido_paterno) || length(trim(toString(apellido_paterno))) == 0, 'VALOR_POR_DEFECTO', trim(toString(apellido_paterno))),",
						"          apellido_materno = initCap(     trim(         concat(             toString(nombres),              ' ',              iif(isNull(apellido_paterno), '', toString(apellido_paterno)),             ' ',             iif(isNull(apellido_materno), '', toString(apellido_materno))         )     ) ),",
						"          nombre_completo = initCap(     trim(         concat(             toString(nombres),              ' ',              iif(isNull(apellido_paterno), '', toString(apellido_paterno)),             ' ',             iif(isNull(apellido_materno), '', toString(apellido_materno))         )     ) ),",
						"          fecha_nacimiento = iif(instr(fecha_nacimiento, '/') > 0, toDate(fecha_nacimiento, 'dd/MM/yyyy'), iif(instr(fecha_nacimiento, '-') == 3, toDate(fecha_nacimiento, 'dd-MM-yyyy'), toDate(fecha_nacimiento, 'yyyy-MM-dd'))),",
						"          genero = initCap(trim(genero)),",
						"          estado_civil = initCap(trim(estado_civil)),",
						"          municipio = initCap(trim(toString(municipio)))) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          nombre_completo,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          municipio",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bronze_to_silver_transportistas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bronze_to_silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_bronze_as_transportistas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_transportistas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          transportista_id as string,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(transportista_id = toInteger(transportista_id),",
						"          razon_social = trim(razon_social),",
						"          telefono = toString(telefono),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          transportista_id as integer,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          transportista_id,",
						"          razon_social,",
						"          nit,",
						"          municipio,",
						"          contacto,",
						"          telefono,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_almacen')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_almacenes",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_almacen",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          almacen_id as integer,",
						"          municipio as string,",
						"          nombre as string,",
						"          departamento as string,",
						"          direccion as string,",
						"          capacidad_m3 as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(nombre = trim(upper(nombre)),",
						"          municipio = trim(upper(municipio)),",
						"          departamento = trim(upper(departamento)),",
						"          direccion = trim(upper(direccion)),",
						"          estado = trim(upper(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          almacen_key as integer,",
						"          almacen_id as integer,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          direccion as string,",
						"          capacidad_m3 as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          almacen_id,",
						"          nombre,",
						"          municipio,",
						"          departamento,",
						"          direccion,",
						"          capacidad_m3,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_beneficiaria')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_segip",
								"type": "DatasetReference"
							},
							"name": "SilverSegip"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Limpieza"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverSegip",
						"SilverSegip derive(nombre_completo = trim(upper(nombre_completo)),",
						"          genero = trim(upper(genero)),",
						"          estado_civil = trim(upper(estado_civil)),",
						"          municipio = trim(upper(municipio))) ~> Limpieza",
						"Limpieza sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          beneficiaria_key as integer,",
						"          ci as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombre_completo,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          municipio",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_establecimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_establecimientos2",
								"type": "DatasetReference"
							},
							"name": "SilverEstablecimientos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_establecimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as integer,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string,",
						"          fecha_procesamiento as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverEstablecimientos",
						"SilverEstablecimientos derive(nombre = trim(upper(nombre)),",
						"          nivel_atencion = trim(upper(nivel_atencion)),",
						"          red_salud = trim(upper(red_salud)),",
						"          municipio = trim(upper(municipio)),",
						"          departamento = trim(upper(departamento)),",
						"          estado = trim(upper(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as integer,",
						"          nombre as string,",
						"          codigo_snis as string,",
						"          nivel_atencion as string,",
						"          red_salud as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          nombre,",
						"          codigo_snis,",
						"          nivel_atencion,",
						"          red_salud,",
						"          municipio,",
						"          departamento,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_paquete')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_catalogo_paquetes2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_paquete",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2),",
						"          fecha_procesamiento as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(nombre = trim(upper(nombre)),",
						"          contenido = trim(upper(contenido))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_key as integer,",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          contenido,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_transportista')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_transportistas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_transportista",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          transportista_id as integer,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(razon_social = trim(upper(razon_social)),",
						"          municipio = trim(upper(municipio)),",
						"          contacto = trim(upper(contacto)),",
						"          estado = trim(upper(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          transportista_key as integer,",
						"          transportista_id as integer,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          transportista_id,",
						"          razon_social,",
						"          nit,",
						"          municipio,",
						"          contacto,",
						"          telefono,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_vehiculo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/dim"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_vehiculos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_vehiculo",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          vehiculo_id as integer,",
						"          transportista_id as integer,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(descripcion = trim(upper(descripcion)),",
						"          placa = trim(upper(placa)),",
						"          tipo = trim(upper(tipo)),",
						"          estado = trim(upper(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          vehiculo_key as integer,",
						"          vehiculo_id as integer,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          vehiculo_id,",
						"          descripcion,",
						"          placa,",
						"          tipo,",
						"          capacidad_kg,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_boletas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_boletas",
								"type": "DatasetReference"
							},
							"name": "SilverBoletas"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "GoldDimBeneficiaria"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_boletas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          boleta_id as integer,",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as date,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverBoletas",
						"source(output(",
						"          beneficiaria_key as integer,",
						"          ci as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimBeneficiaria",
						"SilverBoletas derive(tiempo_key = toInteger(toString(fecha_emision, 'yyyyMMdd')),",
						"          cantidad_boletas = 1) ~> derivedColumn1",
						"derivedColumn1, GoldDimBeneficiaria join(ci_beneficiaria == ci,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          boleta_key as integer,",
						"          boleta_id as integer,",
						"          tiempo_key as integer,",
						"          beneficiaria_key as integer,",
						"          nro_boleta as string,",
						"          estado_boleta as string,",
						"          cantidad_boletas as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          boleta_id,",
						"          tiempo_key,",
						"          beneficiaria_key,",
						"          nro_boleta,",
						"          cantidad_boletas",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_controles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_controles",
								"type": "DatasetReference"
							},
							"name": "SilverControles"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "GoldDimBeneficiaria"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_establecimiento",
								"type": "DatasetReference"
							},
							"name": "GoldDimEstablecimiento"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_controles",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          control_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          nro_control as integer,",
						"          fecha_control as date,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(5,2),",
						"          presion_arterial as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverControles",
						"source(output(",
						"          beneficiaria_key as integer,",
						"          ci as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimBeneficiaria",
						"source(output(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as integer,",
						"          nombre as string,",
						"          codigo_snis as string,",
						"          nivel_atencion as string,",
						"          red_salud as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimEstablecimiento",
						"SilverControles derive(tiempo_key = toInteger(toString(fecha_control, 'yyyyMMdd')),",
						"          cantidad_controles = 1) ~> derivedColumn1",
						"derivedColumn1, GoldDimBeneficiaria join(ci_beneficiaria == ci,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, GoldDimEstablecimiento join(SilverControles@establecimiento_id == GoldDimEstablecimiento@establecimiento_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          control_key as integer,",
						"          control_id as integer,",
						"          tiempo_key as integer,",
						"          beneficiaria_key as integer,",
						"          establecimiento_key as integer,",
						"          nro_control as integer,",
						"          semana_gestacion as integer,",
						"          peso_madre_kg as decimal(10,2),",
						"          presion_arterial as string,",
						"          estado_control as string,",
						"          cantidad_controles as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          control_id,",
						"          tiempo_key,",
						"          beneficiaria_key,",
						"          establecimiento_key,",
						"          nro_control,",
						"          semana_gestacion,",
						"          peso_madre_kg,",
						"          presion_arterial,",
						"          estado_control = estado,",
						"          cantidad_controles",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_despachos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_despachos",
								"type": "DatasetReference"
							},
							"name": "SilverDespachos"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_almacen",
								"type": "DatasetReference"
							},
							"name": "GoldDimAlmacen"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_transportista",
								"type": "DatasetReference"
							},
							"name": "GoldDimTransportista"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_vehiculo",
								"type": "DatasetReference"
							},
							"name": "GoldDimVehiculo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_despachos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "join3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          despacho_id as integer,",
						"          recepcion_id as integer,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          transportista_id as integer,",
						"          vehiculo_id as integer,",
						"          fecha_despacho as date,",
						"          cantidad_despachada as integer,",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverDespachos",
						"source(output(",
						"          almacen_key as integer,",
						"          almacen_id as integer,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          direccion as string,",
						"          capacidad_m3 as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimAlmacen",
						"source(output(",
						"          transportista_key as integer,",
						"          transportista_id as integer,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimTransportista",
						"source(output(",
						"          vehiculo_key as integer,",
						"          vehiculo_id as integer,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimVehiculo",
						"SilverDespachos derive(tiempo_key = toInteger(toString(fecha_despacho, 'yyyyMMdd')),",
						"          cantidad_despachos = 1) ~> derivedColumn1",
						"derivedColumn1, GoldDimAlmacen join(SilverDespachos@almacen_id == GoldDimAlmacen@almacen_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, GoldDimTransportista join(SilverDespachos@transportista_id == GoldDimTransportista@transportista_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, GoldDimVehiculo join(SilverDespachos@vehiculo_id == GoldDimVehiculo@vehiculo_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          despacho_key as integer,",
						"          despacho_id as integer,",
						"          tiempo_key as integer,",
						"          almacen_key as integer,",
						"          transportista_key as integer,",
						"          vehiculo_key as integer,",
						"          nro_lote as string,",
						"          nro_guia_despacho as string,",
						"          centro_destino as string,",
						"          cantidad_despachada as integer,",
						"          estado_despacho as string,",
						"          cantidad_despachos as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          despacho_id,",
						"          tiempo_key,",
						"          almacen_key,",
						"          transportista_key,",
						"          vehiculo_key,",
						"          nro_lote,",
						"          nro_guia_despacho,",
						"          centro_destino,",
						"          cantidad_despachada,",
						"          estado_despacho = SilverDespachos@estado,",
						"          cantidad_despachos",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_entregas",
								"type": "DatasetReference"
							},
							"name": "SilverEntregas"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "GoldDimBeneficiaria"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_paquete",
								"type": "DatasetReference"
							},
							"name": "GoldDimPaquete"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_entregas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          paquete_nombre as string,",
						"          fecha_entrega as date,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as decimal(10,2),",
						"          fecha_proxima_entrega as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverEntregas",
						"source(output(",
						"          beneficiaria_key as integer,",
						"          ci as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimBeneficiaria",
						"source(output(",
						"          paquete_key as integer,",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimPaquete",
						"SilverEntregas derive(tiempo_key = toInteger(toString(fecha_entrega, 'yyyyMMdd')),",
						"          cantidad_entregas = 1) ~> derivedColumn1",
						"derivedColumn1, GoldDimBeneficiaria join(ci_beneficiaria == ci,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, GoldDimPaquete join(SilverEntregas@paquete_id == GoldDimPaquete@paquete_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_key as integer,",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          establecimiento_id as integer,",
						"          tiempo_key as integer,",
						"          beneficiaria_key as integer,",
						"          paquete_key as integer,",
						"          peso_paquete_kg as decimal(10,2),",
						"          fecha_proxima_entrega as date,",
						"          lote_produccion as string,",
						"          cantidad_entregas as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE gold.fact_entregas;'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          establecimiento_id,",
						"          tiempo_key,",
						"          beneficiaria_key,",
						"          paquete_key,",
						"          peso_paquete_kg,",
						"          fecha_proxima_entrega,",
						"          lote_produccion,",
						"          cantidad_entregas",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_inscripciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_sup_inscripciones",
								"type": "DatasetReference"
							},
							"name": "SilverInscripciones"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_beneficiaria",
								"type": "DatasetReference"
							},
							"name": "GoldDimBeneficiaria"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_establecimiento",
								"type": "DatasetReference"
							},
							"name": "GoldDimEstablecimiento"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_inscripciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "PrepInscrip"
						},
						{
							"name": "join1"
						},
						{
							"name": "join2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          inscripcion_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          fecha_inscripcion as date,",
						"          semana_gestacion as integer,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverInscripciones",
						"source(output(",
						"          beneficiaria_key as integer,",
						"          ci as string,",
						"          nombre_completo as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimBeneficiaria",
						"source(output(",
						"          establecimiento_key as integer,",
						"          establecimiento_id as integer,",
						"          nombre as string,",
						"          codigo_snis as string,",
						"          nivel_atencion as string,",
						"          red_salud as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimEstablecimiento",
						"SilverInscripciones derive(tiempo_key = toInteger(toString(fecha_inscripcion, 'yyyyMMdd')),",
						"          cantidad_inscripciones = 1) ~> PrepInscrip",
						"PrepInscrip, GoldDimBeneficiaria join(ci_beneficiaria == ci,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, GoldDimEstablecimiento join(SilverInscripciones@establecimiento_id == GoldDimEstablecimiento@establecimiento_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          inscripcion_key as integer,",
						"          inscripcion_id as integer,",
						"          tiempo_key as integer,",
						"          beneficiaria_key as integer,",
						"          establecimiento_key as integer,",
						"          semana_gestacion as integer,",
						"          estado_inscripcion as string,",
						"          cantidad_inscripciones as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          inscripcion_id,",
						"          tiempo_key,",
						"          beneficiaria_key,",
						"          establecimiento_key,",
						"          semana_gestacion,",
						"          estado_inscripcion = SilverInscripciones@estado,",
						"          cantidad_inscripciones",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_fact_recepciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver_to_gold/fact"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_silver_as_recepciones",
								"type": "DatasetReference"
							},
							"name": "SilverRecepciones"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_almacen",
								"type": "DatasetReference"
							},
							"name": "GoldDimAlmacen"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_transportista",
								"type": "DatasetReference"
							},
							"name": "GoldDimTransportista"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_gold_vehiculo",
								"type": "DatasetReference"
							},
							"name": "GoldDimVehiculo"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_gold_fact_recepciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "join2"
						},
						{
							"name": "join3"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          recepcion_id as integer,",
						"          nro_lote as string,",
						"          condicion as string,",
						"          estado as string,",
						"          almacen_id as integer,",
						"          transportista_id as integer,",
						"          vehiculo_id as integer,",
						"          fecha_recepcion as date,",
						"          cantidad_recibida as decimal(18,2),",
						"          unidad as string,",
						"          responsable as string,",
						"          nro_guia_remision as string,",
						"          temperatura_llegada as decimal(5,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SilverRecepciones",
						"source(output(",
						"          almacen_key as integer,",
						"          almacen_id as integer,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          direccion as string,",
						"          capacidad_m3 as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimAlmacen",
						"source(output(",
						"          transportista_key as integer,",
						"          transportista_id as integer,",
						"          razon_social as string,",
						"          nit as string,",
						"          municipio as string,",
						"          contacto as string,",
						"          telefono as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimTransportista",
						"source(output(",
						"          vehiculo_key as integer,",
						"          vehiculo_id as integer,",
						"          descripcion as string,",
						"          placa as string,",
						"          tipo as string,",
						"          capacidad_kg as decimal(10,2),",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GoldDimVehiculo",
						"SilverRecepciones derive(tiempo_key = toInteger(toString(fecha_recepcion, 'yyyyMMdd')),",
						"          cantidad_recepciones = 1) ~> derivedColumn1",
						"derivedColumn1, GoldDimAlmacen join(SilverRecepciones@almacen_id == GoldDimAlmacen@almacen_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1, GoldDimTransportista join(SilverRecepciones@transportista_id == GoldDimTransportista@transportista_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2, GoldDimVehiculo join(SilverRecepciones@vehiculo_id == GoldDimVehiculo@vehiculo_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join3",
						"join3 derive(cantidad_recibida = toInteger(cantidad_recibida)) ~> derivedColumn2",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          recepcion_key as integer,",
						"          recepcion_id as integer,",
						"          tiempo_key as integer,",
						"          almacen_key as integer,",
						"          transportista_key as integer,",
						"          vehiculo_key as integer,",
						"          lote_produccion as string,",
						"          cantidad_recibida as integer,",
						"          temperatura_llegada as decimal(5,2),",
						"          responsable_recepcion as string,",
						"          estado_recepcion as string,",
						"          cantidad_recepciones as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          recepcion_id,",
						"          tiempo_key,",
						"          almacen_key,",
						"          transportista_key,",
						"          vehiculo_key,",
						"          lote_produccion = nro_lote,",
						"          cantidad_recibida,",
						"          temperatura_llegada,",
						"          responsable_recepcion = responsable,",
						"          estado_recepcion = SilverRecepciones@estado,",
						"          cantidad_recepciones",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_cargar_capa_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dim_beneficiaria",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_beneficiaria",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverSegip": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_establecimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_establecimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverEstablecimientos": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_paquete",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_paquete",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_almacen",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_almacen",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_vehiculo",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_vehiculo",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_transportista",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_transportista",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_boletas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_beneficiaria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_boletas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverBoletas": {},
									"GoldDimBeneficiaria": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_controles",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_establecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_beneficiaria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_controles",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverControles": {},
									"GoldDimBeneficiaria": {},
									"GoldDimEstablecimiento": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_despachos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_transportista",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_almacen",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_vehiculo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_despachos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverDespachos": {},
									"GoldDimAlmacen": {},
									"GoldDimTransportista": {},
									"GoldDimVehiculo": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_entregas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_beneficiaria",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_paquete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_entregas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverEntregas": {},
									"GoldDimBeneficiaria": {},
									"GoldDimPaquete": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_inscripciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_establecimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_beneficiaria",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_inscripciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverInscripciones": {},
									"GoldDimBeneficiaria": {},
									"GoldDimEstablecimiento": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "fact_recepciones",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dim_almacen",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_vehiculo",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_transportista",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_fact_recepciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SilverRecepciones": {},
									"GoldDimAlmacen": {},
									"GoldDimTransportista": {},
									"GoldDimVehiculo": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-29T05:27:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_beneficiaria')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_establecimiento')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_paquete')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_almacen')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_vehiculo')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_transportista')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_boletas')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_controles')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_despachos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_entregas')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_inscripciones')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_fact_recepciones')]"
			]
		}
	]
}